*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#eef7f1;
}
/* BOTON VOLVER */
.volver{
    position:relative;
    top:20px;
    left:20px;
    background:white;
    padding:8px 15px;
    border-radius:20px;
    font-size:14px;
    cursor:pointer;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    transition:0.3s;
    width: 200px;
}

.volver:hover{
    background:#27ae60;
    color:white;
}

/* HEADER ECO */
.header{
    background:linear-gradient(135deg,#27ae60,#2ecc71);
    color:white;
    padding:40px 20px;
    text-align:center;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

#nombre{
    font-size:32px;
    font-weight:bold;
}

/* CONTENIDO */
.container{
    max-width:800px;
    margin:30px auto;
    padding:20px;
}

/* INFO CURSO */
.info{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

#desc{
    color:#444;
    margin-bottom:15px;
    line-height:1.5;
}

#duracion{
    color:#27ae60;
    font-weight:bold;
}

/* BOTON CURSO */
.btn-curso{
    display:block;
    margin:40px auto 0 auto; /* 👈 esto lo centra */
    background:white;
    color:#27ae60;
    border:none;
    padding:10px 20px;
    border-radius:25px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

.btn-curso:hover{
    background:#145a32;
    color:white;
}

/* CONTENEDOR VIDEOS */
.videos{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* ITEM VIDEO */
.video-item{
    border-radius:10px;
    margin-bottom:10px;
    background:#f9f9f9;
    overflow:hidden;
    transition:0.3s;
    border:1px solid #eee;
}

.video-item:hover{
    background:#f1fdf5;
}

/* CABECERA DEL VIDEO */
.video-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 15px;
    cursor:pointer;
}

/* TITULO */
.video-title{
    font-weight:bold;
    color:#2f3640;
}

/* ICONO */
.icono{
    transition:0.3s;
}

/* ROTACION */
.video-item.active .icono{
    transform:rotate(90deg);
}

/* CONTENIDO */
.video-content{
    max-height:0;
    overflow:hidden;
    transition:max-height 0.4s ease;
    padding:0 15px;
}

.video-item.active .video-content{
    max-height:1200px;
    padding:10px 15px 15px;
}

/* TEXTO */
.video-content p{
    font-size:14px;
    color:#555;
    margin-bottom:5px;
}